.topBar {
  display: flex;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: fit-content;
  display: flex;
  gap: 1rem;
  right: 2rem;
  top: 2rem;
}

.topBar button {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: Roboto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid gray;
}

.topBar button:hover {
  transform: scale(1.1);
}

.login {
  color: teal;
}

.register {
  color: rgb(163, 46, 85);
}

.logout {
  color: rgb(206, 41, 12);
}
