.review textarea {
  width: 100%;
  height: fit-content;
  border: none;
  border-bottom: 1px solid tomato;
  outline: none;
  margin-bottom: 0.5rem;
  font-family: Roboto;
  font-weight: 500;
}

textarea::placeholder {
  font-family: Roboto;
  font-weight: 500;
}

.submitBtn {
  background-color: tomato;
  color: white;
  font-family: Roboto;
  font-weight: 700;
}
